a:hover {
  text-decoration: none;
}

.site-title {
  color: #cd4128 !important;
}

.site-title > a,
.site-title a:visited {
  color: #cd4128 !important;
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.site-title > a:hover,
.site-title a:visited:hover {
  color: #e07561 !important;
}

.post {
  width: 95%;
}

.post > h3 {
  margin-bottom: 0 !important;
}

.post > .post-meta {
  font-size: 13.299999999999999px;
  line-height: 19.000000000000018px;
  color: #555555;
}

.post > .post-content a,
.post > .post-content a:visited {
  color: #cd4128;
}

.bio-image {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background: url(/images/headshot.jpg) no-repeat;
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

.bio-desc {
  margin-top: 10px;
}

.txt-center {
  text-align: center !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  {
    /* Retina-specific stuff here */
  
  }
  .bio-image {
    background: url(/images/headshot-2x.jpg) no-repeat;
    background-size: 140px 140px;
  }
}