.bold {
  font-weight: bold;
}

body {
  font-size: 16.8px;
  line-height: 24.000000000000025px;
}

.container {
  position: relative;
  z-index: 10;
}

.container h3 {
  color: #555555;
}

img {
  height: auto;
  max-width: 100%;
}

.img-centered {
  padding: 5px 0;
  margin-right: auto;
  margin-left: auto;
}

#sharingIsCaring {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

a {
  -webkit-transition: color 0.2s ease-in;
     -moz-transition: color 0.2s ease-in;
       -o-transition: color 0.2s ease-in;
          transition: color 0.2s ease-in;
}

a:hover {
  color: #a23320 !important;
  text-decoration: none;
}

.site-title {
  color: #cd4128 !important;
}

.site-title > a {
  color: #cd4128 !important;
}

.post {
  width: 95%;
  margin-bottom: 30px;
}

.post ul,
.post ol {
  margin-left: 40px;
}

.post ul > li,
.post ol > li {
  padding-bottom: 5px;
}

.post table {
  margin-bottom: 10px;
}

.post table td {
  padding: 2px 5px;
}

.post > h3 {
  margin-bottom: 0 !important;
}

.post > .post-meta {
  font-size: 13.299999999999999px;
  line-height: 19.000000000000018px;
  color: #555555;
}

.post > .post-content a,
.post > .post-content a:visited {
  color: #cd4128;
}

.tag-container {
  font-size: 11.9px;
  line-height: 17.000000000000018px;
  text-align: right;
}

.tag-container > a {
  color: #cd4128;
}

.tag-container > a > .comma {
  color: #000000;
}

.tag-title {
  font-style: italic;
  font-weight: bold;
  color: #555555;
}

.bio-image {
  width: 140px;
  height: 140px;
  margin: 0 auto;
  background: url(/images/headshot.jpg) no-repeat;
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

.bio-desc {
  margin-top: 10px;
  font-size: 15.400000000000002px;
  line-height: 22.000000000000025px;
  color: #555555;
}

.txt-center {
  text-align: center !important;
}

.social {
  margin: 5px auto 0;
  text-align: center;
  list-style: none;
}

.social > li {
  display: inline-block;
  *display: inline;
  width: 30px;
  height: 30px;
  margin-right: 5%;
  background: url('/images/social-icons.png') no-repeat;
  background-size: 90px 30px;
  opacity: 0.8;
  zoom: 1;
  -webkit-transition: all 0.2s ease-in;
     -moz-transition: all 0.2s ease-in;
       -o-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in;
}

.social > li:last-child {
  margin-right: 0;
}

.social > li:hover {
  opacity: 1;
}

.social > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

.social > .linkedin {
  background-position: 0 0;
}

.social > .twitter {
  background-position: -60px 0;
}

.social > .github {
  background-position: -30px 0;
}

.repo-btn-container {
  margin-top: 40px;
  text-align: center;
}

.repo-btn-container a {
  -webkit-transition: none 0 ease-in;
     -moz-transition: none 0 ease-in;
       -o-transition: none 0 ease-in;
          transition: none 0 ease-in;
}

.repo-btn-container a:hover {
  color: #ffffff !important;
}

.gist {
  font-size: 12.6px;
  line-height: 18.000000000000018px;
}

.video-container {
  position: relative;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.post-pagination {
  text-align: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  {
    /* Retina-specific stuff here */
  
  }
  .bio-image {
    background: url(/images/headshot-2x.jpg) no-repeat;
    background-size: 140px 140px;
  }
  .social {
    list-style: none;
  }
  .social > li {
    background: url('/images/social-icons-2x.png') no-repeat;
    background-size: 90px 30px;
  }
}

.hll {
  background-color: #ffffcc;
}

.c {
  font-style: italic;
  color: #408080;
}

/* Comment */

.err {
  border: 1px solid #ff0000;
}

/* Error */

.k {
  font-weight: bold;
  color: #008000;
}

/* Keyword */

.o {
  color: #666666;
}

/* Operator */

.cm {
  font-style: italic;
  color: #408080;
}

/* Comment.Multiline */

.cp {
  color: #bc7a00;
}

/* Comment.Preproc */

.c1 {
  font-style: italic;
  color: #408080;
}

/* Comment.Single */

.cs {
  font-style: italic;
  color: #408080;
}

/* Comment.Special */

.gd {
  color: #a00000;
}

/* Generic.Deleted */

.ge {
  font-style: italic;
}

/* Generic.Emph */

.gr {
  color: #ff0000;
}

/* Generic.Error */

.gh {
  font-weight: bold;
  color: #000080;
}

/* Generic.Heading */

.gi {
  color: #00a000;
}

/* Generic.Inserted */

.go {
  color: #808080;
}

/* Generic.Output */

.gp {
  font-weight: bold;
  color: #000080;
}

/* Generic.Prompt */

.gs {
  font-weight: bold;
}

/* Generic.Strong */

.gu {
  font-weight: bold;
  color: #800080;
}

/* Generic.Subheading */

.gt {
  color: #0040d0;
}

/* Generic.Traceback */

.kc {
  font-weight: bold;
  color: #008000;
}

/* Keyword.Constant */

.kd {
  font-weight: bold;
  color: #008000;
}

/* Keyword.Declaration */

.kn {
  font-weight: bold;
  color: #008000;
}

/* Keyword.Namespace */

.kp {
  color: #008000;
}

/* Keyword.Pseudo */

.kr {
  font-weight: bold;
  color: #008000;
}

/* Keyword.Reserved */

.kt {
  color: #b00040;
}

/* Keyword.Type */

.m {
  color: #666666;
}

/* Literal.Number */

.s {
  color: #ba2121;
}

/* Literal.String */

.na {
  color: #7d9029;
}

/* Name.Attribute */

.nb {
  color: #008000;
}

/* Name.Builtin */

.nc {
  font-weight: bold;
  color: #0000FF;
}

/* Name.Class */

.no {
  color: #880000;
}

/* Name.Constant */

.nd {
  color: #aa22ff;
}

/* Name.Decorator */

.ni {
  font-weight: bold;
  color: #999999;
}

/* Name.Entity */

.ne {
  font-weight: bold;
  color: #D2413A;
}

/* Name.Exception */

.nf {
  color: #0000ff;
}

/* Name.Function */

.nl {
  color: #a0a000;
}

/* Name.Label */

.nn {
  font-weight: bold;
  color: #0000FF;
}

/* Name.Namespace */

.nt {
  font-weight: bold;
  color: #008000;
}

/* Name.Tag */

.nv {
  color: #19177c;
}

/* Name.Variable */

.ow {
  font-weight: bold;
  color: #AA22FF;
}

/* Operator.Word */

.w {
  color: #bbbbbb;
}

/* Text.Whitespace */

.mf {
  color: #666666;
}

/* Literal.Number.Float */

.mh {
  color: #666666;
}

/* Literal.Number.Hex */

.mi {
  color: #666666;
}

/* Literal.Number.Integer */

.mo {
  color: #666666;
}

/* Literal.Number.Oct */

.sb {
  color: #ba2121;
}

/* Literal.String.Backtick */

.sc {
  color: #ba2121;
}

/* Literal.String.Char */

.sd {
  font-style: italic;
  color: #BA2121;
}

/* Literal.String.Doc */

.s2 {
  color: #ba2121;
}

/* Literal.String.Double */

.se {
  font-weight: bold;
  color: #BB6622;
}

/* Literal.String.Escape */

.sh {
  color: #ba2121;
}

/* Literal.String.Heredoc */

.si {
  font-weight: bold;
  color: #BB6688;
}

/* Literal.String.Interpol */

.sx {
  color: #008000;
}

/* Literal.String.Other */

.sr {
  color: #bb6688;
}

/* Literal.String.Regex */

.s1 {
  color: #ba2121;
}

/* Literal.String.Single */

.ss {
  color: #19177c;
}

/* Literal.String.Symbol */

.bp {
  color: #008000;
}

/* Name.Builtin.Pseudo */

.vc {
  color: #19177c;
}

/* Name.Variable.Class */

.vg {
  color: #19177c;
}

/* Name.Variable.Global */

.vi {
  color: #19177c;
}

/* Name.Variable.Instance */

.il {
  color: #666666;
}

/* Literal.Number.Integer.Long */