<div class="pagination post-pagination visible-desktop">
	<ul class="pages">
		{% if paginator.previous_page %}
			<li class="previous">
				{% if paginator.previous_page == 1 %}
					<a href="/">&laquo;</a>
				{% else %}
					<a href="{{ paginator.previous_page_path }}">&laquo;</a>
				{% endif %}
			</li>
		{% else %}
			<!--li class="previous disabled">
				<span>Previous</span>
			</li-->
		{% endif %}

		<li class="page">
			{% if paginator.page == 1 %}
				<span class="current-page">1</span>
			{% else %}
				<a href="/">1</a>
			{% endif %}
		</li>

		{% for count in (2..paginator.total_pages) %}
			<li class="page{% if count == paginator.page %} active{% endif %}">
				{% if count == paginator.page %}
					<span>{{ count }}</span>
				{% else %}
					<a href="/page{{ count }}">{{ count }}</a>
				{% endif %}
			</li>
		{% endfor %}

		{% if paginator.next_page %}
			<li class="next">
				<a href="{{ paginator.next_page_path }}">&raquo;</a>
			</li>
		{% else %}
			<!--li class="next disabled">
				<span>&raquo;</span>
			</li-->
		{% endif %}
	</ul>
</div>