<div class="bio-image"></div>
<div class="bio-desc txt-center">
	<p>I am a life-long learner, adventure seeker, and front-end developer for <a href="https://twitter.com/ExactTarget" target="_blank">@ExactTarget</a></p>
</div>
<ul class="social clearfix">
  <li class="linkedin"><a href="http://www.linkedin.com/in/alexvernacchia/" target="_blank"></a></li>
  <li class="twitter"><a href="https://twitter.com/vernacchia" target="_blank"></a></li>
  <li class="github"><a href="https://github.com/vernak2539" target="_blank"></a></li>
</ul>
<div class="repo-btn-container">
	<a href="https://github.com/vernak2539/babble.byvernacchia" class="btn btn-info btn-large" target="_blank">This Site's Repo</a>
</div>