{% if page.heroImage %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image:src" content="{{ site.url }}/post_hero_images/{{ page.heroImage }}">
{% else %}
<meta name="twitter:card" content="summary" />
{% endif %}
<meta name="twitter:site" content="@vernacchia" />
<meta name="twitter:creator" content="@vernacchia" />
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}" />
{% else %}
  <meta name="twitter:title" content="{{ site.title }}" />
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url | remove: 'index.html' }}" />
{% else %}
  <meta name="twitter:url" content="{{ site.url }}" />
{% endif %}
{% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary | strip_html | xml_escape | truncate: 200 }}" />
{% else %}
  <meta name="twitter:description" content="{{ site.description }}" />
{% endif %}